node_modules/
build/
coverage
dist
dev
# build
.temp
.nyc_output
# idea ignore
.idea/
*.ipr
*.iml
*.iws
typings
.lib

# eclipse ignore
.settings/
.project
.classpath

# npm
npm-debug.log

# system files
.DS_Store
/.vscode/

# python pyc
*.pyc

*.swp

server/run/
server/logs/
server/app/types/
#server/**/*.js
server/**/*.js.map
