
.normal {
    font-family: Georgia, sans-serif;
    margin-top: 1em;
    text-align: center;
}

.welcome {
    height: 328px;
    background: url(../assets/yay.jpg) no-repeat center 0;
    background-size: 388px 328px;
}

.list {
    padding: 0;
    font-size: 1.2em;
    margin-top: 1.8em;
    margin-left: 1.8em;
    list-style: none;
    line-height: 1.5em;
    text-align: left;
}

.item {
    border: 1px solid #eee;
    padding: 10px;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 1em;
}

.list code {
    background: #f7f7f7;
}

.btn {
    width: 100%;
    text-align: right;
    padding-right: 20px;
}
